@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.home-footer-bar {
    
    display: flex;
    flex-direction:  row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    height: 100px;
    color: #FFFFFF;
    align-items: stretch;
    margin-bottom: -1px;
    margin-left: 0px;
    margin-top: 249px;
    //width: 1920px;
    width: 1856px;
    max-width: 1920px;

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 930px;
        text-align: right;
        p {
            margin-top: 30px;
            width: 541px;
            height: 58px;
            left: 354px;
            top: 1014px;
            
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            text-align: right;
            
            /* Primária */
            
            color: #FFFFFF;
        }

        div {
            margin: 0;
            margin-top: 49px;
            border: 1px solid #FFFFFF;
            transform: rotate(90deg);   
            width: 61px;
            height: 0px; 
        }
    }

    /*
    &__search {

        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 723px;
        margin-left: -63px;

        input {
            margin: 0;
            margin-top: 25px;
            margin-right: 136px;
            margin-left: 136px;
            width: 453px;
            height: 45px;
            border-radius: 50px;
            box-sizing: border-box;
            border: 1px solid #FFFFFF;
            background: #26292C;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #E0E0E0;
            margin-bottom: 1.5rem;
            padding-left: 1.5rem;

            &#txt-user {
                background: url('/content/dam/vue/user-logo.png') no-repeat 95%;
                background-size: 11.25px;
            }

            &.--error {
                border: 1px solid #e9b425;
            }
        }

        ::placeholder {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color:  #FFFFFF;
            text-align: center;
            align-items: center;

        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.25rem;
            padding-left: 1.5rem;
            color: #E0E0E0;
            margin-bottom: 32px;
        }

        div {
            margin: 0;
            margin-top: 49px;
            border: 1px solid #FFFFFF;
            transform: rotate(90deg);   
            width: 61px;
            height: 0px; 
        }
    
    }
    */

    &__refreshText {
        text-align: right;
        width: 109px;
        max-width: 109px;
        height: 49px;
        left: 1053px;
        top: 1013px;        
        margin: 0;
        margin-top: 25px;
        line-height: 21px;
        font-size: 14px;

        p {
            margin: 0;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;

        }
    }

    &__refreshCount {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        
        &--number {
            margin: 0;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 48px;
            line-height: 56.25px;
            font-style: normal;
            text-align: center;
        }

        &--text {
            margin: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            width: 60px;
            height: 21px;
            left: 1213px;
            top: 1043px;            
        }
    }

    &__acessarBusca {
        margin-left: 400px;
        width: 131px;
        height: 99px;
        left: 1661px;
        top: 981px;
        background: #FFFFFF;


        p {
            width: 87.49px;
            height: 28.56px;
            margin-top: 40px;
            margin-left: 13px;
            
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            
            color: #C13216;

        }

    }

    &__logout {
        width: 128px;
        margin: 0;
        max-width: 113px;
        cursor: pointer;
        p {
            margin: 0;
            margin-top: 43px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;
        }

        a {
            margin-left: 0px;
        }
    }

    @media only screen and (max-width: 600px) {
       &__info, &__search, &__refreshText,
       &__refreshCount {
           display: none;
       }

       flex-direction: row-reverse;
       justify-content: space-between;
       margin-top: 0px;
       width: 440px;
       //max-width: 250px;

       &__logout {
           margin-top: 0px;
           width: 129px;
           height: 100px;
           left: 0px;
           bottom: 0px;           
           min-width: 129px;
           justify-content: center;
           
           p {
               justify-content: center;
           }
       }
       
       
        &__acessarBusca {
            margin-left: 150px;
            /*
            width: 350px;
            height: 99px;
            left: 1907px;
            top: 1969px;
            background: #FFFFFF;


            p {

                width: 255.12px;
                height: 28.56px;
                
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                
                color: #C13216;

            }
            */
        }       
        
    }


}