@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

 

   

.home-day-info {

    
    color: #222222;


    &__title {
        
        margin: 0;
        width: 327px;
        height: 146px;
        margin-left: -150px;
        //top: 0px;

        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 144px;
        line-height: 216px;
        text-align: center;
        

    }

    &__info {
        
        margin: 0;
        padding-top: 17px;
        width: 257px;
        height: 21px;
        margin-left: -90px;
        margin-right: 40px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        
        text-align: center;
        
        color: #222222;

    }

    @media only screen and (max-width: 600px) {
        display: none;
    }
}

